*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{

     background-color: #0f172a; 
     .nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1vh;
        width: 100%;
        height: 7vh;
        border-radius: 10%;

        .logo{
            font-size: 1rem;
            font-weight: bold;
            background: linear-gradient(to right,blue,red);
            color: transparent;
            background-clip: text;
        }
        .links{
            ul{
                display: flex;
                gap: 2vw;
                list-style: none;
                li{
                    padding: 1vh 1vw;
                    .link{
                        text-decoration: none;
                        color: white;
                        font-size: 1.2rem;
                    }
                    &:hover{
                        background-color: rgb(130, 116, 217);
                        border-radius: 10px;
                        
                    }
                }
            }
        }
     }
}